* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "values";

body {
  font-family: @df-sans;
}

.node text {
  font-size: 11px;
}

.graphic, .text {
  display: inline-block;
}

.text {
  vertical-align: top;
  width: 400px;
  padding: 20px 0 0  20px;
}

.chatter {
  font-size: 14px;
}

.divider {
  border-top: 1px solid #CCC;
  margin: 20px 0;
}

#panel {
  // background: #f3f3f3;
  border-radius: 4px;
  width: 400px;
  height: 228px;
  font-size: 16px;

  .title {
    font-weight: bold;
  }

  .total {
    padding-top: 5px;
  }

  .provider {
    font-size: 14px;
    padding-top: 5px;
  }

  .services {
    padding-top: 3px;
    font-size: 11px;
    font-style: italic;
  }
}

.credit {
  text-transform: uppercase;
  font-size: 10px;
}