* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "values";

svg {
  border: 1px solid black;
}

.graphic, #panel {
  display: inline-block;
}

#panel {
  background: @df-light-gray;
  vertical-align: top;
  border-radius: 4px;
  padding: 4px;
}