* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "values";

body {
  font-family: @df-sans;
}

svg {
  // border: 1px solid black;
}

.node {
  cursor: pointer;
}

.node text {
  font-size: 11px;
}

.graphic {
  float: left;

  @media @break {
    margin: auto;
    width: 380px;
    float: none;
  }

  @media (max-width: 380px) {
    width: 100%;
  }
}

.text {
  float: left;
  vertical-align: top;
  width: 240px;
  padding-left: 20px;

  @media @break {
    width: 100%;
    padding: 0;
  }
  // border: 1px solid black;
}

.chatter {
  font-size: 13px;
}

#panel {
  border-radius: 4px;
  font-size: 16px;
  margin: 15px 0;
  padding: 10px;

  @media @break {
    margin-bottom: 8px;
  }

  &.provider {
    background: #f8dacf;
  }
  &.organization {
    background: #f3f3f3;
  }

  .title {
    font-weight: bold;
  }

  .category {
    font-size: 10px;
    text-transform: uppercase;
  }

  .total {
    padding-top: 5px;
  }

  .provider-name {
    font-size: 14px;
    padding-top: 5px;
  }

  .services {
    padding-top: 3px;
    font-size: 11px;
    font-style: italic;
  }
}

.credit {
  text-transform: uppercase;
  font-size: 10px;

  @media @break {
    text-align: right;
  }
}