<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>
    <div class="headline">Distribution of 2014 Oso Charitable Donations</div>
    <div class='graphic'></div>
    <div class='text'>
      <div class="chatter">More than $9 million was donated to the Red Cross, United Way and Cascade Valley Hospital Foundation after the Oso landslide. About $7 million has been dispersed.</div>
      <div id='panel'></div>
      <div class="sources">Sources: Cascade Valley Hospital Foundation, Red Cross, and United Way</div>
      <div class="credit">Audrey Carlsen / The Seattle Times</div>
    </div>

    <script>
      var osoData = window.osoData = <%= JSON.stringify(json.OsoMoney_Clean) %>;
      window.formatNumber = <%= t.formatNumber.toString() %>
    </script>
    <script src="app.js"></script>
    <%= json.project.production ? t.include("partials/_adFoot.html") : "" %>
    <%= json.project.production ? t.include("partials/_workHere.html") : "" %>
  </body>
</html>
