<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>
    <responsive-child interval=200>
    <div class="headline">Distribution of Oso donations</div>
    <div class='graphic'></div>
    <div class='text'>
      <div class="chatter">More than $9.5 million was donated to the Red Cross, United Way and Cascade Valley Hospital Foundation (CVHF) after the Oso landslide. More than $6.8 million has been disbursed so far. Here's a look at where the money has gone.</div>
      <div id='panel'></div>
      <div class="sources">Sources: Red Cross, United Way and Cascade Valley Hospital Foundation</div>
      <div class="credit">Audrey Carlsen / The Seattle Times</div>
    </div>
    <div style="clear:both"></div>
    </responsive-child>

    <script>
      var osoData = window.osoData = <%= JSON.stringify(json.OsoMoney_Clean) %>;
      window.formatNumber = <%= t.formatNumber.toString() %>
    </script>
    <script src="app.js"></script>
    <%= json.project.production ? t.include("partials/_adFoot.html") : "" %>
    <%= json.project.production ? t.include("partials/_workHere.html") : "" %>
  </body>
</html>
